# Ignore everything
*

# But don't ignore directories, as we need to traverse them
!*/

# Don't ignore .m files
!*.m
!*.json
!*.mod
!.gitignore
!.gitattributes
!mmb-electron.app/Contents/Resources/app/dist/electron/static/mmci-cli/docs/userguide.pdf